.rootContain {
  display: flex;
  height: 100vh;
  .msgList {
    width: 210px;
    height: 100vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      height: 6px;
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.22);
      border-radius: 40px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
  .chatMessage {
    flex: 1;
  }
}
