.searchContainer {
  display: flex;
  flex-direction: column;
  .searchBar {
    margin-top: 20px;
    width: 80%;
    display: flex;
    :global {
      .semi-button {
        margin: 10px;
      }
    }
  }
}
.memberCard {
  :global {
    .semi-card-body {
      display: none;
    }
  }
}
