.centerContain {
  display: flex;
  flex-direction: column;

  .centerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 60px;
    border-bottom: 1px solid var(--semi-color-border);
    background-color: var(--semi-color-bg-0);
  }
}
