.searchContainer {
  display: flex;
  flex-direction: column;

  .searchBar {
    margin-top: 20px;
    width: 80%;
    display: flex;

    :global {
      .semi-button {
        margin-left: 10px;
      }

      .semi-input-wrapper {
        margin: 0;
      }
    }
  }
}

.memberCard {
  :global {
    .semi-card-body {
      display: none;
    }
  }
}
