.baseForm {
  width: 300px;
  .fromBox {
    display: flex;
    justify-content: space-between;
  }
  .formButton {
    margin-top: 10px;
  }
  .forgetPassword {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
}
